version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: emails
    ports:
      - "5432:5432"
    networks:
      - backend
  
  app:
    build: .
    container_name: app
    depends_on:
      - db
    environment:
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=emails;Username=user;Password=password;
    ports:
      - "5186:80"
    networks:
      - backend

networks:
    backend:
      driver: bridge